.tqb-date-picker .tqb-dp-header
  position fixed
  top 0
  left 0
  right 0
  z-index 1025
  background-color white

  h3
    text-align center
    line-height header-height
    font-size 1.2rem
    font-weight normal
    margin 0

  button
    position absolute
    top 0
    background-color white
    border none
    color gray
    font-size 1.5em
    padding 0
    width 40px
    height header-height - 2px
    line-height header-height - 6px

    &:first-child
      left 0

    &:last-child
      right 0