.tqb-dp-selected
  display flex

  label
    display flex
    flex-direction column
    justify-content center
    line-height 1.25
    width 50%
    background-color #BBB
    color white
    text-align center
    height 50px
    margin-bottom 0

    &.start-date

      &:empty,
      &.active
        background-color brand-color

        &::before
          content '选择开始时间'

      &:not(:empty)
        &::before
          content '开始时间'

        + :empty,
        + .active
          background-color brand-color

          &::before
            content '选择结束时间'

    &.end-date::before
      content '结束时间'

.tqb-dp-labels
  border-top 1px solid gray-border
  background-color gray-background
  padding-left 0
  margin 0
  display flex
  flex-direction row

  li
    color rgb(148,148,148)
    list-style none
    flex 1
    text-align center
    font-size 0.8em
    line-height labels-height
    
    &.sunday,
    &.saturday
      color orange