root-font-size = 16px

brand-color = #BAEEF9
black = #333
gray-background = #F2F2F2
gray-border = #DDD
point-radius = 6px
orange = #F1B925

header-height = 70px
labels-height = 35px
date-height = 50px