.tqb-date-picker
  background-color white
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  font-size 14px

  &.static
    position static
    width 375px
    height 667px
    border 1px solid border-color

@import "picker/_header.styl"
@import "picker/_labels.styl"
@import "picker/_calendar.styl"